<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
        <title><%= recipeData.title %></title>

        <%- recipeCss.style %>
    </head>

    

    <body>
        <div class="div-heading-recipe">
            <h1 class="h1-titles" id="recipe-title"><%= recipeData.title %></h1>
        </div>

        <div class="div-recipe-info">
            <div class="div-recipe-info-text">
                <div class="div-recipe-info-text-row">
                    <img src="https://cdn.shopify.com/s/files/1/0917/9286/7628/files/content_recipe_symbol_portions.png?v=1736098366" alt="logo" class="img-recipe-info-text-symbol">
                    <span id="recipe-portions"><%= recipeData.portions %> Servings</span>
                </div>
                <div class="div-recipe-info-text-row">
                    <img src="https://cdn.shopify.com/s/files/1/0917/9286/7628/files/content_recipe_symbol_preparation.png?v=1736098355" alt="logo" class="img-recipe-info-text-symbol">
                    <span id="recipe-preparation-time"><%= recipeData.preparation_time.value %> <%= recipeData.preparation_time.unit %></span>
                </div>
                <div class="div-recipe-info-text-row">
                    <img src="https://cdn.shopify.com/s/files/1/0917/9286/7628/files/content_recipe_symbol_cooking.png?v=1736098343" alt="logo" class="img-recipe-info-text-symbol">
                    <span id="recipe-cooking-time"><%= recipeData.cooking_time.value %> <%= recipeData.cooking_time.unit %></span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container">
            <div class="div-heading-container">
                <div>
                    <h2 id="title-ingredients" class="h2-titles">Ingredients</h2>
                </div>
                <h2 id="title-preparation" class="h2-titles">Preparation</h2>
            </div>
            <div class="div-ingredients">
                <ul class="text-ingredient-list" id="ingredientList">
   
                </ul>
            </div>
            <div class="section-preparation">
                <ul class="text-preparation-list" id="preparationList">
     
                </ul>
            </div>
            <div class="section-recipe">
                <h2 id="title-instructions" class="h2-titles" style>Cooking</h2>
                <ol class="text-instructions-list" id="cookingList">

                </ol>
            </div>
        </div>

        </div>

        
        <script>
            <%- recipeJs.script %>

            <% recipeData.ingredients.forEach(function(ingredient) { %>
            addIngredientToList("<%= ingredient.name %>", "<%= ingredient.value %>", "<%= ingredient.unit %>");
            <% }); %>

            <% recipeData.preparation_steps.forEach(function(step) { %>
            addPreparationStepToList("<%= step %>");
            <% }); %>

            <% recipeData.cooking_steps.forEach(function(step) { %>
            addCookingStepToList("<%= step %>");
            <% }); %>
        </script>
    </body>
</html>





